<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Analyze.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Radix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RadixUAT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>994386181A14845800D9FB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9943862B1A14845800D9FB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994386371A14845800D9FB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994386491A14845800D9FB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>994386531A14845800D9FB0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
